body {
	background: #F7F9FC;
	color: #575F7D;
	font-family: "Lora", serif;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

div {
	background: white;                 
	padding: 30px;                     
	border-radius: 4px;                
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #575F7D;
	font-size: 32px;
	font-weight: 900;
}

h2 {
	color: #7ECE90;
	font-size: 24px;
	font-weight: 300; /* Keep just one */
}

a {
	text-decoration: none;
	color: #6872E1;
	font-weight: bolder;
	transition: color 0.3s ease;
}
.jass {
  background-color: #FFFBEA;
  border: 2px solid #FFD700;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}
a:hover {
	color: black;
}
body {
	background: #F7F9FC;
	color: #575F7D;
	font-family: "Lora", serif;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

div {
	background: white;                  /* White background */
	padding: 30px;                      /* Internal space */
	border-radius: 4px;                 /* Small radius */
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #575F7D;
	font-size: 32px;
	font-weight: 900;
}

h2 {
	color: #7ECE90;
	font-size: 24px;
	font-weight: 300; /* Keep just one */
}

a {
	text-decoration: none;
	color: #6872E1;
	font-weight: bolder;
	transition: color 0.3s ease;
}

a:hover {
	color: black;
}
